.LogoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;

  &__logo {
    width: 438px;
    height: 129px;
    margin: 0 48px;
  }
}

.Header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__Search {
    height: 56px;
  }
}
